{% extends "layouts/base.twig" %}

{% block style %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/addEmployee.css">
{% endblock %}

{% block main %}
	<section>
		{% if errorRequest %}
			{{errorRequest}}
		{% endif %}

		<h2 class="glass-h2">
			{% if employee %}
				Modification
			{% else %}
				Ajouter un employé
			{% endif %}
		</h2>

		<div class="add-employee">
			<form action="{{ employee ? '/employees/updateemployee/' ~ employee.id : '/employees/addEmployee' }}" class="form-add" method="post" enctype="multipart/form-data">
				<label for="firstName">Nom</label>
				<input type="text" id="firstName" name="firstName" value="{% if employee.firstName %}{{ employee.firstName }}{% endif %}">
				<label for="lastName">Prénom</label>
				<input type="text" id="lastName" name="lastName" value="{% if employee.lastName %}{{ employee.lastName }}{% endif %}">
				<label for="age">Age</label>
				<input type="text" id="age" name="age" value="{% if employee.age %}{{ employee.age }}{% endif %}">
				<label for="genre">Genre</label>
				<input type="text" id="genre" name="genre" value="{% if employee.genre %}{{ employee.genre }}{% endif %}">
				<label for="photo" class="custom-file-upload">Choisir une photo</label>
				<input
				type="file" id="photo" name="photo">
				{# Aperçu de l'image #}
				<img
				id="photoPreview" src="#" alt="Aperçu de la photo" style="display: none; max-width: 150px; max-height: 150px; margin-top: 10px;">
				{# Fin de l'aperçu de l'image #}
				<label for="email">Email</label>
				<input type="mail" id="mail" name="mail" value="{% if employee.mail %}{{ employee.mail }}{% endif %}">
				<label for="password">
					{% if employee %}
						Nouveau mot de passe (laisser vide pour ne pas changer)
					{% else %}
						Mot de passe
					{% endif %}
				</label>
				<input type="password" id="password" name="password">
				{% if errors.password %}
					<p>{{errors.password}}</p>
				{% endif %}
				<label for="confirm">Confirmez le mot de passe :
				</label>
				<input type="password" id="confirm" name="confirm">
				{% if confirmError %}
					<p>{{confirmError}}</p>
				{% endif %}

				<div class="form-actions">
					<button class="add">
						{% if employee %}
							Enregistrer les modifications
						{% else %}
							Valider
						{% endif %}
					</button>
				</div>
			</form>

			{% if employee is defined and employee.id and isBoss %}
				<hr>
				<h3>Gestion des ordinateurs</h3>
				<h5>Ordinateurs Assignés</h5>
				{% if employee.computers is not empty %}
					<ul>
						{% for computer in employee.computers %}
							<li>
								{{ computer.mac }}
								-
								{{ computer.description }}
								<a href="/employees/unassign-computer/{{ computer.id }}" class="btn">Dissocier</a>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>Cet employé n'a aucun ordinateur assigné.</p>
				{% endif %}
				<h5>Assigner un nouvel ordinateur</h5>
				{% if computers is not empty %}
					<form action="/employees/assign-computer/{{ employee.id }}" method="post">
						<div>
							<select name="computerId" class="form-select">
								<option selected>Choisir un ordinateur disponible...</option>
								{% for computer in computers %}
									<option value="{{ computer.id }}">{{ computer.mac }}
										-
										{{ computer.description }}</option>
								{% endfor %}
							</select>
							<div class="form-actions">
								<button type="submit" class="btn">Assigner</button>
							</div>
						</div>
					</form>
				{% else %}
					<p>Aucun ordinateur n'est disponible pour l'assignation.</p>
				{% endif %}

			{% endif %}
		</div>
		 <script>
				        document.addEventListener('DOMContentLoaded', function() {
				            const photoInput = document.getElementById('photo');
				            const photoPreview = document.getElementById('photoPreview');
				
				            function showImagePreview(file) {
				                if (file) {
				                    const reader = new FileReader();
				                    reader.onload = function(e) {
				                        photoPreview.src = e.target.result;
				                        photoPreview.style.display = 'block';
				                    };
				                    reader.readAsDataURL(file);
				                } else {
				                    photoPreview.src = '#';
				                    photoPreview.style.display = 'none';
				                }
				            }
				
				            photoInput.addEventListener('change', function(event) {
				                showImagePreview(event.target.files[0]);
				            });
				
				            {% if employee and employee.photo %}
				                if (photoPreview.src === '#' || !photoPreview.src.includes('http')) { 
				                    photoPreview.src = "{{ employee.photo|replace({'publics/': '/'}) }}";
				                    photoPreview.style.display = 'block';
				                }
				            {% else %}
				               
				            {% endif %}
				        });
				    </script>
	</section>
{% endblock %}
